# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Monorepo
packages/*/dist
packages/*/node_modules
apps/*/dist
apps/*/node_modules

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Convex
.convex
.vercel
.env*.local
